[submodule "dsr-nlp"]
	path = dsr-nlp
	url = git@github.com:antahiap/dsr-nlp.git
[submodule "doc"]
	path = doc
	url = git@github.com:antahiap/dsr-teaching-setup
[submodule "project/ADPT-LRN-PHYS"]
	path = project/ADPT-LRN-PHYS
	url = git@github.com:antahiap/ADPT-LRN-PHYS.git
[submodule "dsr-tut-productive-ml"]
	path = dsr-tut-productive-ml
	url = git@github.com:antahiap/dsr-tut-productive-ml.git
[submodule "python/intro-to-python"]
	path = python/intro-to-python
	url = git@github.com:antahiap/Intro_to_Python_DSR.git
[submodule "dsr-trees"]
	path = dsr-trees
	url = git@github.com:antahiap/dsr-trees.git
[submodule "streamlit_app_tutorial"]
	path = streamlit_app_tutorial
	url = git@github.com:antahiap/streamlit_app_tutorial.git
[submodule "dsr-db"]
	path = dsr-db
	url = git@github.com:antahiap/dsr-db.git
[submodule "dsr-serverless-course"]
	path = dsr-serverless-course
	url = git@github.com:antahiap/dsr-serverless-course.git
[submodule "resources/fastbook"]
	path = resources/fastbook
	url = git@github.com:antahiap/fastbook.git
[submodule "dsr-ds-fundamental"]
	path = dsr-ds-fundamental
	url = git@github.com:antahiap/DSR_DS_Fundamental.git
[submodule "python/numpy-100"]
	path = python/numpy-100
	url = git@github.com:antahiap/numpy-100.git
[submodule "python/dsr-pandas"]
	path = python/dsr-pandas
	url = git@github.com:antahiap/DSR_Pandas.git
[submodule "dsr-ml-fundamental-02"]
	path = dsr-ml-fundamental-02
	url = git@github.com:antahiap/DSR_ML_Fundamentals_2023.git
[submodule "python/100-pandas-puzzles"]
	path = python/100-pandas-puzzles
	url = git@github.com:antahiap/100-pandas-puzzles.git
[submodule "dsr-ml-fundamental-01"]
	path = dsr-ml-fundamental-01
	url = git@github.com:antahiap/ML_Fundamentals.git
[submodule "project/siemens-use-case"]
	path = project/siemens-use-case
	url = git@github.com:antahiap/siemens-use-case.git
[submodule "project/food_LLMsKG_KAGING"]
	path = project/food_LLMsKG_KAGING
	url = git@github.com:antahiap/food_LLMsKG_KAGING.git
[submodule "dsr-RL-course"]
	path = dsr-RL-course
	url = git@github.com:antahiap/dsr-RL-course.git
[submodule "dsr-RL-sumo-gym"]
	path = dsr-RL-sumo-gym
	url = git@github.com:antahiap/dsr-RL-sumo-gym.git
[submodule "dsr-cv/intro-to-pytorch"]
	path = dsr-cv/intro-to-pytorch
	url = git@github.com:antahiap/intro-to-pytorch.git
[submodule "debugging-dl-models"]
	path = debugging-dl-models
	url = git@github.com:antahiap/debugging-dl-models.git
[submodule "dsr-graphs"]
	path = dsr-graphs
	url = git@github.com:antahiap/dsr-graphs.git
[submodule "dsr-image-dataset-curation"]
	path = dsr-image-dataset-curation
	url = git@github.com:antahiap/dsr-image-dataset-curation.git
